export(addPortfInstr)
export(addTxn)
export(pennyPerShare)
export(addDiv)
export(chart.Posn)
export(chart.Reconcile)
export(chart.Spread)
export(extractTxns)
export(getAccount)
export(getEndEq)
export(getPortfolio)
export(getPosQty)
export(getPos)
export(getTxns)
export(initAcct)
export(initPortf)
export(PortfReturns)
export(tradeStats)
export(dailyTxnPL)
export(dailyEqPL)
export(dailyStats)
export(updateAcct)
export(updateEndEq)
export(updatePortf)
export(is.portfolio)
